body {
    display: flex;
    flex-direction: column;
}

.car-detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    padding: 10px 50px 0 25px;
    grid-gap: 20px;
}
.car-manufacturer {
    font-size: 35px;
    font-weight: bold;
}

.car-model {
    font-size: 22px;
}

.car-year {
    border-bottom: 1px solid #ffffff;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.car-primary-photo {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.car-tiny-photo-container {
    min-width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    float: left;
    padding-right: 10px;
}

.car-tiny-photo-container img {
    width: 100%;
    padding: 0px 0px 10px 0px;
    height: auto;
}

.car-poster {
    min-width: 285px;
    max-height: 500px;
    padding: 15px;
    background-color: #13577a;
    color: #fff;
}

.carsale-view  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.carsale-view a {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    border: solid 2px #fff;
}

.carsale-view a:hover {
    color: #13577a;
    background-color: #fff;
}

#car-pricetag {
    align-self: flex-end;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    padding-top: 50px;
}

.car-info {
    display: flex;
    flex-direction: column;
}

.car-info-stats {
    display: flex;
    flex-direction: column;
}

.car-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    padding-top: 15px;
}

.car-details > * {
    display: flex;
    flex-direction: column;
}
.carsale-details {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 414px) {
    .car-detail-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .car-tiny-photo-container {
        flex-basis: 100%;
        padding: 10px 0 0 0;
    }
    .car-primary-photo {
        display: none;
    }
    .car-details {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    } 
    .car-details > * {
        padding-top: 10px;
    }
}