<ng-container *ngIf="!carReady && car !== undefined">
  <div class="progress-bar">
      <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>

<ng-container *ngIf="carReady" >
  <div class="car-detail-container">
    <div class="car-poster">
      <div class="carsale-view">
        <ng-container *ngIf="carsaleId === car.carsaleId">
          <a href="./carsale">Til Baka</a>
          <a href="./addcar/{{car.id}}">Breyta bíl</a>
        </ng-container>
      </div>
      <div class="car-info">
        <div class="car-info-name">
          <span class="car-manufacturer">{{car.manufacturer}}</span>
          <div class="car-model">{{car.model}} {{car.modelType}}</div>
          <div class="car-year">Árgerð {{car.year}}</div>
        </div>
        <div class="car-info-stats">
          <div><strong>Akstur: </strong>{{toThousand(car.milage)}} km</div>
          <div><strong>Skipting: </strong>{{car.transmission}}</div>
          <div><strong>Eldsneyti: </strong> {{car.fuelTypes}}</div> 
          <div><strong>Gírar: </strong> {{car.drive}}</div> 
          <div></div>
          <ng-container *ngIf="car.onSite == true"> 
            <div id="on-site">
              <strong>Á staðum</strong>
            </div>
          </ng-container>
        <div id="car-pricetag">Verð: {{toThousand(car.price)}} kr</div>
        <div class="wrapper">
          <div class="float-right text-center grid2">
            <strong>Uppfærður:</strong>
            <div>{{toISdate(car.dateUpdate)}}</div>
          </div>
          <div class="float-left text-center grid2">
            <strong>Á söluskrá:</strong>
            <div>{{toISdate(car.dateSale)}}</div>
          </div>
        </div> 
       </div>
      </div>
    </div>

    <div class="car-primary-photo">
      <ng-container *ngIf="car.primaryPhotoUrl != null">
        <div class="car-primary-photo" [ngStyle]="{'background-image': 'url(' + car.photosUrl[0] + ')'}"></div>
      </ng-container>
    </div>
    <div class="car-tiny-photo-container">
      <ng-container *ngIf="car.photosUrl != null">
        <ng-container *ngFor="let img of car.photosUrl">
          <img [src]="img">
        </ng-container>
      </ng-container>
    </div>
      <div class="carsale-details">
        <strong>{{car.carsaleName}}</strong>
        <span>{{car.carsaleAddress}}</span>
        <span>{{car.carsalePhoneNum}}</span>
        <span><a class="mailto" href="{{car.carsaleEmail}}">{{car.carsaleEmail}}</a></span>
        <span><a href="{{car.carsaleWebpage}}">{{car.carsaleWebpage}}</a></span>  
      </div>
      <div class="car-details">
        <div class="engine">
          <strong>Vél</strong>
          <span>{{toThousand(car.cc)}}.cc</span>
          <span>{{car.horsepower}} hestöfl</span>
          <span>{{car.cylinders}} stokkar</span>
          <span>{{toThousand(car.weight)}} kg eiginþyngd</span>
        </div>
        <div class="car-body">
          <strong>Farþegarými</strong>
          <span>{{car.doors}} dyra</span>
          <span>{{car.seating}} farþegar</span>
        </div>
        <div class="steering">
          <strong>Stýrisbúnaður</strong>
            <ng-container *ngFor="let ds of car.driveSteering">
              {{ds}}<br />
            </ng-container>
            <ng-container *ngIf="car.drive !== null">
              {{car.drive}} gírar
            </ng-container>
        </div>
        <div class="wheels">
          <strong>Dekk</strong>
          <ng-container *ngFor="let t of car.wheels">
            <span>{{t}}</span>
          </ng-container>
        </div>
        <div class="extras">
          <strong>Aukahlutir</strong>
          <ng-container *ngFor="let item of car.extraFeatures">
            <span>{{item}}</span>
          </ng-container>
        </div>
     </div>
  </div>
</ng-container>