/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: 'Hind';
    src: url('assets/fonts/Hind-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    src: url('assets/fonts/Hind-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #13577a;
    }
    40% {
        stroke: #007fe7;
    }
    66% {
        stroke: #009ee7;
    }
    80%,
    90% {
        stroke: #00cce7;
    }
}

body {
    /*font-family: 'Slabo 27px', 'Roboto', serif;*/
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: "Hind", "Arial", serif;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

header {
    height: 5rem;
    color: #000000;
    background-color: white;
}

.container {
    width: 80%;
    height: 100%;
    color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
}

#side {
    width: 4rem;
    height: 100%;
    background-color: #1c1f28;
}

#head {
    width: 20%;
    min-width: 6rem;
    height: 100%;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Bebas Neue Book', 'Garamond';
    float: left;
}

#head img {
    height: 95%;
    padding-bottom: 5px;
    padding-top: 10px;
}

#fast-search-input  .ng-arrow-wrapper {
    display: none;
}

#arrow {
    margin-left: 19.4em;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 50%;
    position: fixed;
    display: block;
}

.arrow-open{
    cursor: pointer;
    padding: 0;
    height: 20px;
    width: 20px;
    border: solid #13577a;
    border-width: 0 0 3px 3px;
    display: inline-block;
    transform: rotate(45deg);
    color: inherit;
    background-color: transparent;
    background-repeat:no-repeat;
    outline: none;
}

.arrow-close{
    cursor: pointer;
    padding: 0;
    height: 20px;
    width: 20px;
    border: solid #13577a;
    border-width: 0 0 3px 3px;
    display: inline-block;
    transform: rotate(-135deg);
    color: inherit;
    background-color: transparent;
    background-repeat:no-repeat;
    outline: none;
}

.filters {
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.tiny-margin {
    margin-top: 2rem;
}

.container-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.car {
    padding: 7px;
    border-width: 1px;  
}

.car:hover {
    background-color: #eaedf2;
    cursor: pointer;
}

.dropdown-container {
    display: flex;
    padding-bottom: 15px;
}

.dropdown-container > * {
    flex-basis: 100%;
}

.dropdown-container > * + * {
    margin-left: 4%;
}

.dropdown-search {
    padding: 5px 20px 5px 5px;
}

.car-container {
    float: left;
    display: block;
    width: 70%;
    padding: 20px;
    margin-left: 20px;
}

.float-left {
    float: left;
    display: block;
}

.float-right {
    float: right;
    display: block;
}

.text-center {
    text-align: center;
}

.wrapper {
    overflow: hidden;
    padding-top: 15px;
    font-size: 14px;
    text-align: right;
}

.full-width {
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
}
.dropdown-search {
    padding: 5px 20px 5px 5px;
}

.big-search-btn {
    cursor: pointer;
    padding: 0;
    height: 20px;
    width: 20px;
    border: solid lightseagreen;
    border-width: 0 0 2px 2px;
    display: inline-block;
    transform: rotate(-135deg);
    color: inherit;
    background-color: transparent;
    background-repeat:no-repeat;
    outline: none;
}

.img-square {
    background: rgb(224, 224, 224);
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 180px;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.crop img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

.card-manufacturer {
    font-size: 20px;
}

.card-model {
    font-size: 16px;
    margin-top: -10px;
    color: #666666;
}

.card-price {
    font-size: 20px;
    text-align: right;
}

.card-small-text {
    font-size: 16px;
}

.car-option-dropdown {
    z-index: 10;
    position: absolute;
    left: 150px;
    background: #ffffff;
    float: right;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
}

.tiny-text {
    font-size: 12px;
}

.filters-trail {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.btn-info {
    background-color: white;
    border-color: #ccc;
    color: #13577a;
}
.btn-info:hover {
    background-color: white;
    border-color: #ccc;
    color: #13577a;
    -webkit-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
    transition: 0.8s;
}

.remove-icon {
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -1px;
    padding-left: 10px;
}

.progress-bar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}