<div class="search-container">
    <div id="search-window" [style.margin-left]="getStyle()">
        <ng-container *ngIf="filters !== undefined">
            <ng-select  class="dropdown-container" id="fast-search-input" [(ngModel)]="selected" (change)="setFilter()" placeholder="Að hverju ertu að leita?">
                <ng-option *ngFor="let m of filters.manufacturers" [value]="m">{{m.name}}</ng-option>
                <ng-container *ngFor="let m of filters.manufacturers">
                    <ng-option *ngFor="let mo of m.models" [value]="mo">{{mo.name}}</ng-option>
                </ng-container>
                <ng-option *ngFor="let f of filters.doors" [value]="f">{{f.name}} dyra</ng-option>
                <ng-option *ngFor="let f of filters.seating" [value]="f">{{f.name}} sæta</ng-option>
                <ng-option *ngFor="let f of filters.transmissions" [value]="f">{{f.name}}</ng-option>
                <ng-option *ngFor="let f of filters.extraFeatures" [value]="f">{{f.name}}</ng-option>
                <ng-option *ngFor="let f of filters.colors" [value]="f">{{f.name}}</ng-option>
                <ng-option *ngFor="let f of filters.fuelTypes" [value]="f">{{f.name}}</ng-option>
            </ng-select>

            <ng-select class="dropdown-container" [(ngModel)]="selected" (change)="setFilter()" placeholder="Framleiðendur">
                <ng-option *ngFor="let m of filters.manufacturers" [value]="m">{{m.name}}</ng-option>
            </ng-select>

            <div class="dropdown-container"> 
                <div class="btn-group dropright" id="dropdown-models"   >
                    <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tegundir
                    </button>
                    <div class="dropdown-menu">
                        <div class="btn-group dropright">
                            <div class="modelsList" *ngFor="let m of filters.manufacturers">
                                <ng-container *ngIf="m.selected === true">
                                    <a class="dropdown-item">{{m.name}}</a>
                                    <ng-container *ngFor="let mo of m.models">
                                        <a class="dropdown-item" (click)='setFilter(mo)'>{{mo.name}}</a>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown-container">
                <div class="btn-group-vertical dropright">
                    <span>Verð frá</span>
                    <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{toThousand(filters.priceFrom)}} kr
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)='setPriceFrom(null)'>-</a>
                        <div class="priceFromList" *ngFor="let p of filters.prices">  
                            <ng-container *ngIf="p <= filters.priceTo || filters.priceTo === null"> 
                                <a class="dropdown-item" (click)='setPriceFrom(p)'>{{p}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="btn-group-vertical dropright">
                    <span>Verð til</span>
                    <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{toThousand(filters.priceTo)}} kr
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)='setPriceTo(null)'>-</a>
                        <div class="priceFromList" *ngFor="let p of filters.prices">
                            <ng-container *ngIf="p >= filters.priceFrom || filters.priceFrom === null">  
                                <a class="dropdown-item" (click)='setPriceTo(p)'>{{p}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown-container">
                <div class="btn-group-vertical dropright">
                    <span>Akstur frá</span>   
                    <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{toThousand(filters.milageFrom)}} km
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)='setMilageFrom(null)'>-</a>
                        <div class="milageFromList" *ngFor="let m of filters.milages">  
                            <ng-container *ngIf="m <= filters.milageTo || filters.milageTo === null"> 
                                <a class="dropdown-item" (click)='setMilageFrom(m)'>{{m}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="btn-group-vertical dropright">
                    <span>Akstur til</span>
                    <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{toThousand(filters.milageTo)}} km
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)='setMilageTo(null)'>-</a>
                        <div class="milageToList" *ngFor="let m of filters.milages">  
                            <ng-container *ngIf="m >= filters.milageFrom || filters.milageFrom === null"> 
                                <a class="dropdown-item" (click)='setMilageTo(m)'>{{m}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown-container">
                <div class="btn-group-vertical dropright">
                    <span>Árgerð frá</span>
                    <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{filters.yearFrom}} 
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)='setYearFrom(null)'>-</a>
                        <div class="milageFromList" *ngFor="let y of filters.years">  
                            <ng-container *ngIf="y <= filters.yearTo || filters.yearTo === null">  
                                <a class="dropdown-item" (click)='setYearFrom(y)'>{{y}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="btn-group-vertical dropright">
                    <span>Árgerð til</span>
                    <button type="select"  class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{filters.yearTo}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)='setYearTo(null)'>-</a>
                        <div class="milageToList" *ngFor="let y of filters.years ">
                            <ng-container *ngIf="y >= filters.yearFrom || filters.yearFrom === null">  
                                <a class="dropdown-item" (click)='setYearTo(y)'>{{y}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <h5 style="padding-top: 20px">Eldsneyti</h5>
            <div class="fuel-list-container">
                <div class="fuelList" *ngFor="let f of filters.fuelTypes">      
                    <div class="fuelTypes" >
                        <input type="checkbox" ng-model="" [checked]="f.selected" (change)='setFilter(f)'> {{f.name}}
                    </div>
                </div>
                <div class="hybrid">
                    <input ng-model="" [checked]="filters.hybrid.selected" type="checkbox" (change)='setFilter(filters.hybrid)'> {{filters.hybrid.name}}
                </div>
            </div>

            <h5 style="padding-top: 20px">Skipting</h5>
            <div class="transmission-list-container">
                <div class="transmissionList" *ngFor="let f of filters.transmissions">      
                    <div class="transmissionTypes" >
                        <input ng-model="" [checked]="f.selected" type="checkbox" (change)='setFilter(f)'> {{f.name}} 
                    </div>
                </div>
            </div>

            <div class="bottom-buttons">
                <ng-container *ngIf="advancedSearch === false">
                    <button class="advanced-search-btn" (click)='advancedSearch = !advancedSearch' >
                        <h5>+ Nákvæm leit </h5>
                    </button>
                </ng-container>
                <ng-container *ngIf="advancedSearch === true">
                    <button class="advanced-search-btn" (click)='advancedSearch = !advancedSearch' >
                        <h5>- Nákvæm leit </h5>
                    </button>
                </ng-container>
            </div>
            <div class="advanced-search-contanier">
                <ng-container *ngIf="advancedSearch === true">
                    <div class="btn-group">
                        <div class="btn-group dropright">
                            <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dyrafjöldi
                            </button>
                            <div class="dropdown-menu">
                                <div class="milageToList" *ngFor="let f of filters.doors">
                                    <a class="dropdown-item" (click)='setFilter(f)'>{{f.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group dropright">
                            <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sætafjöldi
                            </button>
                            <div class="dropdown-menu">
                                <div class="milageToList" *ngFor="let f of filters.seating">
                                    <a class="dropdown-item" (click)='setFilter(f)'>{{f.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group dropright">
                            <button type="select" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Litur
                            </button>
                            <div class="dropdown-menu">
                                <div class="milageToList" *ngFor="let f of filters.colors">
                                    <a class="dropdown-item" (click)='setFilter(f)'>{{f.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px">
                        <h5>Aukahlutir</h5>
                    </div>
                    <div class="fuel-list-container">
                        <div class="fuelList" *ngFor="let f of filters.extraFeatures">      
                            <div class="extraFeatures" > 
                                <input ng-model="" [checked]="f.selected" type="checkbox" (change)='setFilter(f)'> {{f.name}}
                            </div>
                        </div>
                    </div>                       
                </ng-container>
            </div>
        </ng-container>

        <div id="arrow">
            <ng-container *ngIf="hideSearch === false">
                <button class="arrow-open" type="button" (click)="toggleSearch()"></button>
            </ng-container>
            <ng-container *ngIf="hideSearch === true">
                <button class="arrow-close" type="button" (click)="toggleSearch()"></button>
            </ng-container>
        </div>
    </div>

    <div class="search-container-left">
        <div class="search-result-header">
            <ng-container *ngIf="getFiltersLength() == 0">
                <h2>Nýir bílar á skrá</h2>
            </ng-container>
            <ng-container *ngIf="getFiltersLength() > 0">
                <h2>Leitarniðurstöður</h2>
            </ng-container>
            <div class="btn-group dropright">
                <button type="sort" class="btn btn-info dropdown-toggle  dropdown-filter-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Raða eftir - {{sort.name}}
                </button>
                <div class="dropdown-menu">
                    <div *ngFor="let s of sortFilters">
                        <a class="dropdown-item" (click)='setSort(s)'>{{s.name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-result-container">
            <ng-container *ngIf="filters !== undefined">
                <div class="filters-trail">
                    <ng-container *ngIf=" getFiltersLength() > 0">
                        <button class="clear-filters" type="Submit" (click)="clearFilters()">
                            Hreinsa leit
                        </button>
                    </ng-container>
                    <ng-container *ngFor="let m of filters.manufacturers">
                        <ng-container *ngIf="m.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(m)">
                                {{m.name}}
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                        <ng-container *ngFor="let mo of m.models">
                            <ng-container *ngIf="mo.selected === true">
                                <button class="btn btn-sm btn-info" (click)="setFilter(mo)">
                                    {{m.name}} {{mo.name}}
                                    <span class="remove-icon">x</span>
                                </button>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let f of filters.colors">
                        <ng-container *ngIf="f.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(f)">
                                {{f.name}}
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let f of filters.extraFeatures">
                        <ng-container *ngIf="f.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(f)">
                                {{f.name}}
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let f of filters.transmissions">
                        <ng-container *ngIf="f.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(f)">
                                {{f.name}}
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let f of filters.fuelTypes">
                        <ng-container *ngIf="f.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(f)">
                                {{f.name}}
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="filters.hybrid.selected === true">
                        <button class="btn btn-sm btn-info" (click)="setFilter(filters.hybrid)">
                            {{filters.hybrid.name}}
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                    <ng-container *ngFor="let f of filters.doors">
                        <ng-container *ngIf="f.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(f)">
                                {{f.name}} dyra
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let f of filters.seating">
                        <ng-container *ngIf="f.selected === true">
                            <button class="btn btn-sm btn-info" (click)="setFilter(f)">
                                {{f.name}} sæta
                                <span class="remove-icon">x</span>
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="filters.priceFrom !== null">
                        <button class="btn btn-sm btn-info" (click)="setPriceFrom(null)">
                            Frá {{toThousand(filters.priceFrom)}} kr
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="filters.priceTo !== null">
                        <button class="btn btn-sm btn-info" (click)="setPriceTo(null)">
                            Til {{toThousand(filters.priceTo)}} kr
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="filters.yearFrom !== null">
                        <button class="btn btn-sm btn-info" (click)="setYearFrom(null)">
                            Árg. frá {{filters.yearFrom}}
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="filters.yearTo !== null">
                        <button class="btn btn-sm btn-info" (click)="setYearTo(null)">
                            Árg. til {{filters.yearTo}}
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="filters.milageFrom !== null">
                        <button class="btn btn-sm btn-info" (click)="setMilageFrom(null)">
                            {{toThousand(filters.milageFrom)}} km
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="filters.milageTo !== null">
                        <button class="btn btn-sm btn-info" (click)="setMilageTo(null)">
                            Til {{toThousand(filters.milageTo)}} km
                            <span class="remove-icon">x</span>
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        
        <div class="search-result-list">
            <ng-container *ngIf="cars === undefined">
                <div class="progress-bar">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </ng-container>

            <ng-container *ngIf="cars !== undefined">
                <ng-container *ngIf="cars.length === 0">
                    <h2 style="padding-left: 10px">Engir bílar fundust sem uppfylltu leitarskilyrðin</h2>
                </ng-container>
    
                <ng-container *ngIf="cars.length !== 0">
                    <div class="car-info-container" *ngFor="let c of cars" (click)='getCarDetailPage(c)'>
                        <div class="car-info-photo">
                            <ng-container *ngIf="c.primaryPhotoUrl != null">
                                <div class="car-info-photo" [ngStyle]="{'background-image': 'url(' + c.primaryPhotoUrl + ')'}"></div>
                            </ng-container>
                            <ng-container *ngIf="c.primaryPhotoUrl == null">
                                <div id="replacement-img" class="car-info-photo"></div>
                            </ng-container>
                        </div>
                        <div class="car-info-stats">
                            <div class="car-info-name">
                                <div class="card-manufacturer">{{c.manufacturer}} </div>
                                <div class="card-mode">{{c.model}}</div>   
                            </div>
                            <div>Árgerð {{c.year}}</div>
                            <div>Ekinn {{toThousand(c.milage)}} km</div>
                            <div>{{c.transmission}}</div>
                            <div class="car-info-stats-bottom">
                                <div class="car-info-price">Verð {{toThousand(c.price)}} kr.</div>
                                <div class="on-site"> 
                                    <ng-container *ngIf="c.onSite === true">
                                        <h6>Á staðnum</h6>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>