.btn {
    cursor: pointer;
    text-align: right;
}

.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):focus,
.show > .btn-info.dropdown-toggle {
    background-color: transparent;
    box-shadow: unset; 
    background-color: #13577a;
    color: white;
}

.btn-group-vertical >
.btn:not(:first-child):not(:last-child) {
    border-radius: 3px;
    padding: 3px; 
}

.fuel-list-container  {
    display: grid;
    grid-template-columns: auto auto;
}

.transmission-list-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 10px;
    
} 

.dropdown-menu {
    max-height: 200px; /*Provide height in pixels or in other units as per your layout*/
    overflow-y: auto; /*Provide an auto overflow to diaply scroll*/
}
.filters-trail > * + * {
    margin-left: 2px;
    margin-bottom: 2px;
    padding-bottom: 4px;
    color: white;
    background-color: #a0cada;
    height: 30px;
}

.filters-trail > * + *:hover  {
    box-shadow: none;
}

.clear-filters {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #13577a;
    border-radius: 3px;
    box-shadow: none;
}

.car-info-container {
    cursor: pointer;
    grid-row: auto;
    background-color: white;
    margin: 10px;
}

.car-info-container:hover {
    -webkit-box-shadow: 0px 0px 35px -7px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 35px -7px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 35px -7px rgba(0,0,0,0.39);
    transition: 0.8s;
}

.car-info-photo {
    height: 200px;
    width: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#replacement-img {
    background-image: url('../../assets/images/photo.png');
    background-size: contain;
    transform: scale(0.5);
}

.car-info-stats {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 15px 15px;
}

.car-info-stats-bottom {
    align-self: flex-end;
}

.car-info-name {
    padding-bottom: 10px;
}

.car-info-price {
    color: #13577a;
    font-size: 25px;
    font-weight: 600;
}

.on-site {
    float: right;
}

#search-window {
    left: 0px;
    width: 21.5em;
    min-width: 21.5em;
    padding: 30px 15px 30px 25px;
    border-right: 1px solid #dfdfdf;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.search-container-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f7faff;
}

.search-result-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 52px;
}

.search-result-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px 15px 15px;
}

.dropdown-search {
    padding: 5px 20px 5px 5px;
}

#dropdown-models {
    flex-basis: 100%;
}

#dropdown-models .btn {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
}

#dropdown-models .btn:focus {
    color: white;
}

.bottom-buttons {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 16px;
}

.bottom-buttons > * {
    padding-left: 0px;
    align-self: flex-end;
    background-color: transparent;
    background-repeat: none;
    border: none;
}

.advanced-search-contanier {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.advanced-search-btn {
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    cursor: pointer;
}

.extraFeatures {
    font-size: 12px;
    padding: 5px;
}

@media only screen and (max-width: 1024px) {
    .car-info-container {
        width: 294px;
    }
    .car-info-photo {
        width: 294px;
    }
}

@media only screen and (max-width: 414px) {
    #arrow {
        display: none;
    }
    .search-container {
        flex-direction: column;
        z-index: -1;
        background-color: transparent;
    }
    #search-window {
        width: 100%;
    }
    .search-container-left {    
        padding: 0px;
    }
    .car-info-container {
        width: 350px;
    }
    .car-info-photo {
        width: 350px;
    }

    .search-result-header {
        padding-left: 10px;
    }
    .search-result-list  {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 5px 0px 5px 0px;
    }
    .small-search-container button {
        align-items: center;
        width: 190px;
    }
    
}