#head a {
    color: #13577a;
    border-color: #13577a;
}

.dropdown-toggle::after {
    display: none;
}

.car-login {
    background-image: url("../assets/images/hamb_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 2em;
    height: 2em;
    cursor: pointer;
    z-index: 1;
}

.car-login:active {
    outline: none;
    border: none;
}

.car-login:hover {
    background-image: url("../assets/images/hamb_icon_hover.png");
}