<div class="container">
  <ng-container *ngIf="edit !== true">
    <h2>Bæta við bíl</h2>
    <form [formGroup]="myForm">
      
      <div class="form-group">
        <label for="regNum">Fastanúmer:
        <input type="text" name="regNum" class="form-control" id="regNum" formControlName="regNum" (keyup)="searchLicence($event)"><br />
        </label>
    
        <div *ngIf="!carExists">
          <button type="button" class="btn btn-success btn-sm" (click)="getCarFromSamgongustofa()" [disabled]="!myForm.valid">Sækja bíl frá Samgöngustofu</button>
        </div>

        <div *ngIf="carExists">
          <p>Bíllinn er til í gagnagrunninum.</p>
        </div>
      </div>
    </form>
  </ng-container>
    
  <ng-container *ngIf="edit === true">
    <h2>Breyta bíl: {{this.regNum}}</h2>
  </ng-container>
  
  <form (ngSubmit)="submit()">
    <ng-container *ngIf="carReady == true">
      <span class="manu-header">{{car.manufacturer}} {{car.model}}</span>
      <p-tabView>
        <div class="tabs">
          <!-- Almennt Tab -->
          <p-tabPanel header="Almennt">
            <div class="section-container">
              <div class="section">
                <div class="section-row">
                  <div class="section-legend"><span>Fastar upplýsingar</span></div>
                  <span><label for="Bílnúmer">Bílnúmer: </label>{{car.regNum}}</span>
                  <span><label for="Skráður">Skráður: </label>{{car.year}}</span>
                  <span><label for="Þyngd">Þyngd: </label>{{car.weight}} kg</span>
                  <span><label for="CO2 Losun">CO2 Losun: </label>{{car.co2}}</span>
                  <span><label for="Staða">Staða: </label>{{car.status}}</span>
                  <span><label for="Næsta skoðun">Næsta skoðun: </label>{{car.nextCheck}}</span>
                </div>
              </div>

              <div class="section">
                <div class="section-row">
                  <div class="section-legend"><span>Almennar upplýsingar</span></div>
                  <span><label for="Verð">Verð: </label><input [(ngModel)]="car.price" [ngModelOptions]="{standalone: true}"></span>
                  <span><label for="Akstur">Akstur: </label><input [(ngModel)]="car.driven" [ngModelOptions]="{standalone: true}"></span>
                  <span><label for="Litur">Litur: </label><input [(ngModel)]="car.color" [ngModelOptions]="{standalone: true}"></span>
                  <span>
                    <label>Fjöldi dyra: </label>
                    <select [(ngModel)]="car.doors" [ngModelOptions]="{standalone: true}">
                      <option value="5">5</option>
                      <option value="4">4</option>
                      <option value="3">3</option>
                      <option value="2">2</option>
                    </select>
                  </span>
                  <span>          
                    <label>Fjöldi sæta:</label>
                    <select [(ngModel)]="car.seating" [ngModelOptions]="{standalone: true}"><br />
                      <option value="7">7</option>
                      <option value="6">6</option>
                      <option value="5">5</option>
                      <option value="4">4</option>
                      <option value="3">3</option>
                      <option value="2">2</option>
                    </select>
                  </span>
                  <span>
                    <label for="checkBox2">Á staðnum</label><input type="checkBox" name="checkBox2" id="checkBox2" [(ngModel)]="car.onSite" [ngModelOptions]="{standalone: true}">
                  </span>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </div>

        <div class="tabs">
        <!-- Aukabúnaður Tab -->
        <p-tabPanel header="Aukabúnaður">
          <label for="extraFeatures">Bæta við aukahlutum: </label><br />
          <input #feature list="extraFeatures" (keyup.enter)="addFeature(feature.value)" [(ngModel)]="featureValue" (keyup.enter)="featureValue = ''" [ngModelOptions]="{standalone: true}">
  
          <datalist id="extraFeatures">
            <option *ngFor="let e of extraFeatures" value="{{e.name}}" name="extraFeatures" id="e.id">
          </datalist><br />
          <span class="tiny-text">Ýttu á enter til að setja inn aukahlut</span>
          <br />

          <div class="filters-trail">
            <ng-container *ngFor="let f of extraFeature">
              <span>
                <button type="button" class="btn-margin btn btn-sm btn-info" (click)="removeFeature(f)">
                  {{f}}
                  <span class="remove-icon">x</span>
                </button>
              </span>
            </ng-container>
          </div>
        </p-tabPanel>
        </div>

        <div class="tabs">
          <!-- Hjóla- og stýrisbúnaður Tab -->
          <p-tabPanel header="Hjóla- og stýrisbúnaður">
            <div class="section-container">
              <div class="section">
                <div class="section-row">
                  <div class="section-legend"><span>Dekk</span></div>
                  <span *ngFor="let w of wheels">
                    <label>{{w.name}}</label><input type="checkbox" name="wheel" id={{w.id}} [checked]="wheelsSelected(w.id)"/>
                  </span>
                </div>
              </div>

              <div class="section">
                <div class="section-row">
                  <div class="section-legend"><span>Drifrás / skipting</span></div>
                  <span *ngFor="let d of driveSteeringInfos">
                    <label>{{d.name}}</label><input type="checkbox" name="driveSteering" id={{d.id}} [checked]="driveSteeringSelected(d.id)"/>
                  </span>

                  <span>
                    <label for="Fjöldi gíra">Fjöldi gíra: </label>
                    <select [(ngModel)]="car.drive" [ngModelOptions]="{standalone: true}"><br />
                      <option value="1">6 gíra</option>
                      <option value="2">5 gíra</option>
                      <option value="3">4 gíra</option>
                    </select>
                  </span>

                  <span>
                    <label for="Gírskipting">Gírskipting: </label>
                    <select [(ngModel)]="car.transmission" [ngModelOptions]="{standalone: true}">
                      <option value="1">Beinskipting</option>
                      <option value="2">Sjálfskipting</option>
                    </select>
                  </span>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </div>

        <div class="tabs">
          <!-- Orka/Vél Tab -->
          <p-tabPanel header="Orka/Vél">
            <div class="section-container">
              <div class="section">
                <div class="section-row">
                  <div class="section-legend"><span>Dekk</span></div>
                  <span><label for="Strokkar">Strokkar: </label><input [(ngModel)]="car.cylinders" [ngModelOptions]="{standalone: true}"></span>
                  <span><label for="Hestöfl">Hestöfl: </label><input [(ngModel)]="car.horsepower" [ngModelOptions]="{standalone: true}"></span>
                  <span><label for="Slagrými">Slagrými: </label><input [(ngModel)]="car.cc" [ngModelOptions]="{standalone: true}"></span>
                  <span><label for="Innspíting">Innspíting: </label><input type="checkBox" checked name="checkBox1" id="checkBox1" [(ngModel)]="car.injection"></span>
                </div>
              </div>

              <div class="section">
                <div class="section-row">
                  <div class="section-legend"><span>Orka</span></div>
                  <span *ngFor="let f of fuelTypes">
                    <input type="checkbox" name="fuel" id={{f.id}} [checked]="fuelTypeSelected(f.id)"/> <label>{{f.fuel}}</label>
                  </span>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </div>

        <!-- Myndir Tab -->
        <p-tabPanel header="Myndir">
          <p-fileUpload name="uploadedFiles[]" customUpload="true" (uploadHandler)="myUploader($event)"
            multiple="multiple" accept="image/*" maxFileSize="1000000"> 
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template>    
          </p-fileUpload> 
          
          <div class="car-tiny-photo-container">
            <ng-container *ngIf="car.photosUrl != null">
              <ng-container *ngFor="let img of car.photosUrl">
                <img [src]="img">
              </ng-container>
            </ng-container>
          </div>
        </p-tabPanel>
      </p-tabView>
      
      <div>
        <button type="button" class="btn btn-primary" (click)="submit()">Vista bíl</button>
      </div>
    </ng-container>
  </form>
</div>