/* Style tab links */
.tablink {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 0.8rem 1rem;
    font-size: 14px;
    width: 16.2%;
}

.tablink:hover {
    background-color: rgb(218, 218, 218);
}

.tablink:active {
    background-color: rgb(218, 218, 218);
    border-bottom: none;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #000000;
    display: none;
    padding: 5rem 1rem;
    height: 100%;
}

.btn-margin {
    margin-right: 10px;
    margin-bottom: 10px;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Hind", "Arial", serif;
    margin-top: 15px;
}

.section {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    margin: 5px 10px;
    height: 300px;
    width: 367px;
}

.section-row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: -40px;
}

.section label {
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    width: 125px;
}

.section-legend {
    top: 14px;
    position: relative;
    color: rgb(109, 109, 109);
    display: inline-block;
    margin-bottom: 14px;
}

.section-legend > * {
    background-color: #ffffff;
    padding: 0px 5px;
}

.manu-header {
    font-weight: bold;
    font-size: 30px;
}

.filters-trail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
}

.filters-trail button {
    background-color: #13577a;
    color: #ffffff;
    cursor: pointer;
    flex-basis: 100px;
}

.filter-trail button:hover {
    background-color: lightseagreen;
}

.car-tiny-photo-container {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
    overflow: auto;
}

.car-tiny-photo-container img {
    height: 140px;
    width: auto;
    padding: 5px;
    float: left;
}

/*
#ui-tabview-panel3 .ui-widget-content .ng-star-inserted {
    display: grid;
    grid-template-columns: auto auto; 
}


.vel {

}

.orka {
    float: left;
}

.dekk {
    float: right;
}

.drif {
    float: left;
}
*/