#searchRegNum {
    width: 200px;
}
#has-photo-icon img {
    width: 30px;
}
.carsale-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.carsale-add-car-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#find-car-btns {
    display: flex;
    
}
#add-car-btns {
    grid-column-end: 5;
}
#add-car-btns > * + * {
    margin-left: 10px;
}
.btn-group-sm>.btn, .btn-sm {
    margin-left: 5px;
}
@media only screen and (max-width: 735px) {

    .table .table-hover {
        overflow-x: auto;
    }
}