<div class="container">
  <ng-container *ngIf="carSaleReady">
    <div class="carsale-header">
      <div class="carsale-basic-info">
        <h3>{{carSaleInfo.name}}</h3>
        <strong>Heimilisfang: </strong>{{carSaleInfo.address}}<br />
        <strong>Netfang: </strong>{{carSaleInfo.email}}<br />
        <strong>Símanúmer: </strong>{{carSaleInfo.phoneNum}}<br />
        <strong>Heimasíða: </strong><a href="http://{{carSaleInfo.webpage}}">{{carSaleInfo.webpage}}</a><br /><br />
      </div>
    </div>
    <div class="carsale-add-car-buttons">
      <h4>Bílar til sölu</h4>
      
      <div id="find-car-btns">
        <input type="text" class="form-control" id="searchRegNum"[(ngModel)]="searchRegNum" placeholder="Leita eftir fastanúmeri">
        <button class="btn btn-success btn-sm" (click)="searchForRegNum()">Leita að bíl</button>
        <ng-container *ngIf="searchString !== carsaleTerm">
            <button class="btn btn-success btn-sm" (click)="getAllCars()">Sjá alla bíla</button>
        </ng-container>
      </div>
      <div id="add-car-btns">
          <a href="./addcar" class="btn btn-success btn-m">Bæta við bíl</a>
        </div>  
    </div>

    <ng-container *ngIf="carSaleInfo.cars != null">
      <p>{{carSaleInfo.cars.length}} bílar til sölu</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Raðnúmer</th>
            <th>Fastanúmer</th>
            <th>Tegund</th>
            <th>Árgerð</th>
            <th>Verð</th>
            <th>Á staðnum</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of carSaleInfo.cars">
            <td>
              <div id="has-photo-icon">
                <ng-container *ngIf="c.primaryPhotoUrl !== null">
                  <img src="../../assets/images/photo.png" >
                </ng-container>
              </div>
            </td>
            <td>{{c.id}}</td>
            <td>{{c.licenceNumber}}</td>
            <td>{{c.manufacturer}} {{c.model}}</td>
            <td>{{c.year}}</td>
            <td>{{toThousand(c.price)}}</td>
            <ng-container *ngIf="c.onSite === true">
              <td>Já</td>
            </ng-container>
            <ng-container *ngIf="c.onSite === false">
              <td>Nei</td>
            </ng-container>
            <td><a button class="btn btn-success btn-sm" href="./addcar/{{c.id}}">Breyta</a></td>
            <td><button class="btn btn-success btn-sm" (click)="sold(c.id)">Seldur</button></td>
            <td><button class="btn btn-success btn-sm" (click)='getCarDetailPage(c)'>Skoða</button></td>
          </tr>
        </tbody>
      </table>

    </ng-container>
  </ng-container>
</div>
